#banner {
}

#s2dlogo {
    float:right;
}

#browseTreeContainer {
    width:200px;
    float:left;
}

#browseTree {

}

#totalStatusContainer {
    float:right;
}

/* Quick hack to get status message in right place*/
#totalStatusMessage {
    position: absolute;
    top: 150px;
   
    
}
/*Summary table*/
td.summaryCell {
    width:20px;
    height:20px;
}
td.cruisecode {
    width:350px;
}
 

td.Y_YES {
    background:green;
}

td.L_YES {
    background:red;
}

td.S_YES {
    background:yellow;
}


td.Y_NO {
    background:purple;
}

td.L_NO {
    background:lightgrey;
}

td.S_NO {
    background:lightgrey;
}

td.UNKNOWN {
    background:purple;
}

td.Y_UNKNOWN {
    background:purple;
}

td.L_UNKNOWN {
    background:purple;
}

td.S_UNKNOWN {
    background:purple;
}




tr.summaryRow{
    
}

table.summaryTable{
    
}


#Fix for jquery dialog position
.fixed-dialog{
  position: fixed;
 
}
